<header class="masthead">
  <h2 class="masthead-title">
    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
  </h2>
  {% if site.tagline %}
    <h5 class="masthead-tagline">{{ site.tagline }}</h5>
  {% endif %}

  {% if site.data.navigation %}
    <nav class="nav">
      {% for item in site.data.navigation %}
        <a class="nav-item {% if page.url == item.url %}active{% endif %}" href="{{ item.url | relative_url }}">
          {{ item.title }}
        </a>
      {% endfor %}
      </nav>
  {% endif %}

  {% if site.data.social %}
  <div class="social">
    {% for social in site.data.social %}
      <a href="{{ social.url }}" target="_blank">
        <i class="{{ social.icon | default: 'fas fa-link' }}" title="{{ social.title }}"></i>
      </a>
    {% endfor %}
  </div>
  {% endif %}
</header>
